@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Urbanist:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::view-transition-old(root) {
  animation-delay: 500ms;
}

::view-transition-new(root) {
  animation: circle-in 500ms;
}

:root {
  /* Colors */
  --clr-black: #0d1b2a;
  --clr-white: #e0e1dd;
  --clr-grey: #415a77;

  /* Fonts */
  --font-titre: "Manrope", sans-serif;
  --font-texte: "Urbanist", sans-serif;

  @media (prefers-color-scheme: light) {
    --theme: ☀️;
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    --theme: 🌑;
    color-scheme: dark;
  }
}

@keyframes move-in {
  from {
    translate: 0 -100%;
  }
  to {
    translate: 0 0;
  }
}

@keyframes circle-in {
  from {
    clip-path: circle(0% at 50% 0%);
  }
  to {
    clip-path: circle(120% at 50% 0%);
  }
}

body {
  font-family: var(--font-texte);
  color-scheme: light;
  --clr-body: var(--clr-white);
  --clr-text: var(--clr-black);

  @container style(--theme: 🌑) {
    color-scheme: dark;

    --clr-body: var(--clr-black);
    --clr-text: var(--clr-white);
  }
}

body {
  font-family: var(--font-texte);
  background: var(--clr-body);
  color: var(--clr-text);
}
::selection {
  background: var(--clr-text);
  color: var(--clr-body);
}
.titre {
  font-family: var(--font-titre);
  font-weight: 400;
  letter-spacing: -2px;
  font-size: 2.5rem;
  line-height: 0.9;
}
.btn {
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  line-height: 1;
  border: solid 1px var(--clr-text);
  background-color: var(--clr-text);
  color: var(--clr-body);
  transition: background-color ease 200ms, color ease 200ms;
}
.btn:hover,
.btn:focus {
  background-color: var(--clr-body);
  color: var(--clr-text);
}
.btn-big {
  padding-block: 0.75rem;
}
.pills {
  background-color: var(--clr-text);
  color: var(--clr-body);
}

#wrapper {
  display: grid;
  grid-template-columns:
    [gutter-l] 1fr
    [container] minmax(0, calc(100% - 2rem))
    [gutter-r] 1fr;
  grid-template-rows: max-content;
  gap: 2rem;
}

#wrapper > * {
  grid-column: container;
}

[data-nuxt-img] {
  border-radius: 0.5rem;
  object-fit: cover;
  width: 100%;
  height: auto;
}

header {
  z-index: 1;
  nav {
    background-color: var(--clr-body);
  }
  .logo {
    font-size: 2rem;
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

main {
  &[data-namespace="home"] {
    .banner {
      height: 50dvh;
    }
  }
  &[data-namespace="single-book"] {
    .content {
      position: sticky;
      top: 6rem;
    }
  }
}
