@tailwind base;
@tailwind components;
@tailwind utilities;

#wrapper {
    display: grid;
    grid-template-columns:
      [gutter-l] 1fr
      [container] minmax(0, calc(100% - 2rem))
      [gutter-r] 1fr;
    gap: 2rem;
  }
  
#wrapper > * {
  grid-column: container;
}

[data-nuxt-img] {
  border-radius: 0.5rem;
  object-fit: cover;
  width: 100%;
  height: auto;
}

header svg{
  width: 1.5rem;
  height: 1.5rem;
}

main{
   &[data-namespace="home"]{
    .banner{
      height:50dvh;
    }
   } 
   &[data-namespace="single-book"]{

    [data-nuxt-img]{
      position:sticky;
      top:6rem;
      height:50dvh;
    }
   } 

}